/*background webaplication*/
body{
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}
/*Homepage logo*/
.logo{
  width: 1100px;
  height: 700px;
  overflow: hidden;
  position: absolute;
  top: -65px;
  left: calc(50% - 550px);
}
/*Homepage box for the text*/
.textbox{
  position: absolute;
  top: 790px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1000px;
  height: 420px;
  padding: 80px 40px;
  border-radius: 30px;
  box-sizing: border-box;
  background: rgba(75, 160, 216, 0.521);
}
/*Homepage image*/
.medicin{
  width: 600px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-300px/2);
  left: calc(50% - 300px);
}
/*Box for text at the bottom of the page*/
.names{
  margin: 0;
  padding: 140 0 5px;
  font-family: Helvetica;
  color: #08088A;
  text-align: center;
}
/*Subpages Title*/
h1{ 
  display: block;
  font-size: 2em;
  margin: 0;
  padding: 60 0 20px;
  font-family: Helvetica;
  font-weight: bold;
  color: #08088A;
  text-align: center;
}
/*Homepage Title: About us?*/
h2{
  margin: 0;
  padding: 740 0 20px;
  font-family: Helvetica;
  color: #08088A;
  text-align: center;
}
/*Homepage Text: About us?*/
p{
  margin: 0;
  padding: 0 0 10px;
  font-family: Helvetica;
  font-size: 18;
  color: #08088A;
  text-align: center;
}
/*subtitels subpages*/
p.subpage{
  margin: 0;
  padding: 0 0 0px;
  font-family: Helvetica;
  font-size: 18;
  color: #08088A;
  text-align: center;
}
/*For the text at the bottom of each page*/
p.small{
  margin: 0;
  padding: 0 0 6px;
  font-family: Helvetica;
  font-size: 12;
  color: #08088A;
  text-align: center;
}
a.urgent{
  margin: 0;
  font-family: Helvetica;
  font-size: 16;
  color: #08088A;
}
/*Navigation bar*/
.navbar {
  overflow: hidden;
  background-color: rgb(75, 160, 216);
  font-family: Helvetica;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a.bold {
  float: left;
  font-size: 16px;
  font-weight: 770;
  color: #08088A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*Dropdown menu in the navigation bar*/
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(8, 8, 138, 0.397);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: rgba(75, 160, 216, 0.562);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.testright {
    float: right !important;
}
/*link to javascript so that the navbar stays always on top of your screen*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
/*input sub pages*/
input[name="medicine"],
input[name="doctor"],
input[name="reason"]{
  border: none;
  border: 1px solid #08088A;
  background:transparent;
  padding: 12px 16px;
  outline: none;
  height: 35px;
  color: rgb(110, 110, 110);
  font-size: 16px;
}
input[name="subject"]{
  border: none;
  border: 1px solid #08088A;
  background:transparent;
  padding: 12px 16px;
  outline: none;
  height: 35px;
  width: 600px;
  color: rgb(110, 110, 110);
  font-size: 16px;
  position:absolute;
  left: calc(50% - 300px);
}
input[name="question"]{
  border: none;
  border: 1px solid #08088A;
  background:transparent;
  padding: 12px 16px;
  outline: none;
  height: 200px;
  width: 600px;
  color: rgb(110, 110, 110);
  font-size: 16px;
  position:absolute;
  left: calc(50% - 300px);
}
input[type=submit] {
  border: none;
  outline: none;
  height: 40px;
  width: 150px;
  color: #fff;
  font-size: 16px;
  background: #08088A;
  cursor: pointer;
  border-radius: 20px;
  position:absolute;
  left: calc(50% - 75px); 
}
input[name="submit"]:hover{
  background: #efed40;
  color: #262626;
}
/*input radio urgent or not urgent*/
input[type=radio]:not(old){
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #c7e1fa;
  color: #666;
  top: 5px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 35%;
  cursor: pointer;  
  margin-right: 7px;
  outline: none;
}
input[type=radio]:not(old):checked::before{
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 6px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}
input[type=radio]:not(old):hover{
  background-color: #6783ff;
}
input[type=radio   ]:not(old):checked{
  background-color: #6783ff;
}
/*table subpage prescription (logged in as doctor)*/
table {
  width: 50%; 
  padding-left: 50%;
  margin-left:auto; 
  margin-right:auto;
  background-color: #97aaff;
}
table, th, td {
  border-bottom: 1px solid #08088A;
  border-collapse: collapse;
  border-radius: 15px;
  font-family: Helvetica;
}
th, td {
  padding: 12px;
  color:#08088A;
}

/**********LOGIN AND REGISTER PAGE**********/
/*container on the login page*/
.logincontainer{
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 420px;
  padding: 80px 40px;
  border-radius: 15px;
  box-sizing: border-box;
  background: rgba(75, 160, 216, 0.521); 
}
/*container on the client register page*/
.registercontainer{
  position: absolute;
  top: 750px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 1200px;
  padding: 80px 40px;
  border-radius: 15px;
  box-sizing: border-box;
  background: rgba(75, 160, 216, 0.521); 
}
/*container on the doctor register page*/
.registerdoctorcontainer{
  position: absolute;
  top: 515px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  height: 730px;
  padding: 80px 40px;
  border-radius: 15px;
  box-sizing: border-box;
  background: rgba(75, 160, 216, 0.521); 
}
/*Image obove the container*/
.user{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px/2);
  left: calc(50% - 50px);
}
/*header in containers*/
h2.register,
h2.login{
  margin: 0;
  padding: 0 0 20px;
  color: #08088A;
  text-align: center;
}
/*text in the containers*/
.registercontainer p,
.registerdoctorcontainer p,
.logincontainer p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #08088A;
  text-align: left;
}
/*dimensions input*/
.registercontainer select,
.registercontainer input,
.registerdoctorcontainer select,
.registerdoctorcontainer input,
.logincontainer input{
  width: 100%;
  margin-bottom: 20px;
}
/*layout input*/
.registercontainer select,
.registercontainer input[name="Firstname_u"],
.registercontainer input[name="Lastname_u"],
.registercontainer input[name="socialsecuritynumberpatient"],
.registercontainer input[name="placeofbirthpatient"],
.registercontainer input[name="dateofbirthpatient"],
.registercontainer input[name="streetnamepatient"],
.registercontainer input[name="housenumberpatient"],
.registercontainer input[name="townpatient"],
.registercontainer input[name="emailUser"],
.registercontainer input[name="password"],
.registercontainer input[name="re-password"],
.registerdoctorcontainer input[name="firstname"],
.registerdoctorcontainer input[name="lastname"],
.registerdoctorcontainer input[name="reg-email"],
.registerdoctorcontainer input[name="br-number"],
.registerdoctorcontainer input[name="pswd"],
.registerdoctorcontainer input[name="repswd"],
.logincontainer input[name="email"],
.logincontainer input[name="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: rgb(145, 143, 143);
  font-size: 16px;
}
/*layout login and register button*/
.registercontainer button[name="register-users-submit"],
.registerdoctorcontainer button[name="register-submit"],
.logincontainer button[name="login-submit"]{
  border: none;
  outline: none;
  height: 40px;
  width: 150px;
  color: #fff;
  font-size: 16px;
  background: #08088A;
  cursor: pointer;
  border-radius: 20px;
  position:absolute;
  left: 100px;
}
/*layout login and register button on hover*/
.registercontainer button[name="register-users-submit"]:hover,
.registerdoctorcontainer button[name="register-submit"]:hover,
.logincontainer button[name="login-submit"]:hover{
  background: #efed40;
  color: #262626;
}
/*text login 'create an account'*/
.logincontainer a{
  color: #08088A;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 60px;
  left: 80px;
  text-decoration: none;
}
/*text choose client or user page*/
.logincontainer a.choose{
  color: #08088A;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 50px;
  left: 70px;
  text-decoration: none;
}